<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <style>body {background: white;}</style>
</head>
<body>

{% if form.non_field_errors %}
{% include 'includes/errors.html' with errors=form.non_field_errors %}
{% endif %}

<div class="justify-content-center align-items-center row" style="height: 600px;">
  {% load crispy_forms_tags %}
  <div class="col-sm-3 align-middle">
    {% load static %}
    <img src="{% static 'assets/images/fulllogo.jpg' %}" alt="Sovcombank" class="img-fluid">
    <form method="post" class="mt-3">
      {% csrf_token %}
      <div class="form-group row">
        <div class="col-sm-12">
          <input type="text" class="form-control" id="id_username" name="username" placeholder="Username" required>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-12">
          <input type="password" class="form-control" id="id_password" name="password" placeholder="Password" required>
        </div>
      </div>
      <button type="submit" class="btn btn-primary btn-block">Login</button>
    </form>
  </div>
</div>
</body>