<head>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand">Поиск</a>
    <form class="form-inline" method="get">
      <input class="form-control mr-sm-2" type="text" name="input_search">
      <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
    </form>
  </nav>
  <table class="table">
  <thead>
    <tr>
      <th scope="col">Дата заявки <a href="{% url 'app-list' %}?sort=date"><i class="fas fa-sort-alpha-down"></i></a>    <a href="{% url 'app-list' %}?sort=-date"><i class="fas fa-sort-alpha-up"></i></a></th>
      <th scope="col">Продукт <a href="{% url 'app-list' %}?sort=product"><i class="fas fa-sort-alpha-down"></i></a>    <a href="{% url 'app-list' %}?sort=-product"><i class="fas fa-sort-alpha-up"></i></a></th>
      <th scope="col">Телефон клиента <a href="{% url 'app-list' %}?sort=telephone"><i class="fas fa-sort-alpha-down"></i></a>    <a href="{% url 'app-list' %}?sort=-telephone"><i class="fas fa-sort-alpha-up"></i></a></th>
      <th scope="col">Решение <a href="{% url 'app-list' %}?sort=solve"><i class="fas fa-sort-alpha-down"></i></a>    <a href="{% url 'app-list' %}?sort=-solve"><i class="fas fa-sort-alpha-up"></i></a></th>
      <th scope="col">Комментарий к решению <a href="{% url 'app-list' %}?sort=comment"><i class="fas fa-sort-alpha-down"></i></a>    <a href="{% url 'app-list' %}?sort=-comment"><i class="fas fa-sort-alpha-up"></i></a></th>
      <th scope="col"><a href="{% url 'app-create' %}" class="btn btn-outline-success"><i class="fas fa-plus"></i></a>    <a href="{% url 'app-list' %}?save_excel=True" class="btn btn-outline-success"><i class="far fa-file-excel"></i></a></th>
                
    </tr>
  </thead>
  <tbody>
        {% for line in object_list %}
        <tr>
            <td>{{ line.date| truncatechars:40 }}</td>
            <td>{{ line.product| truncatechars:40 }}</td>
            <td>{{ line.telephone| truncatechars:40 }}</td>
            <td>{{ line.solve| truncatechars:40 }}</td>
            <td>{{ line.comment| truncatechars:40 }}</td>
            <td>
                <a href="{% url 'app-update' pk=line.id %}" class="btn btn-outline-success btn-sm">Edit</a>
                <a href="{% url 'app-delete' pk=line.id %}" class="btn btn-outline-danger btn-sm">Delete</a>
            </td>
        </tr>
        {% endfor %}
  </tbody>
</table>
</body>