<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script language="JavaScript">
        window.onbeforeunload = confirmExit;
        function confirmExit()
        {
            return "You have attempted to leave this page.  If you have made any changes to the fields without clicking the Save button, your changes will be lost.  Are you sure you want to exit this page?";
        }
        $(document).on("submit", "form", function(event){
            window.onbeforeunload = null;
        });
    </script>
</head>
<body>
<div class="container mt-4">
    <h1>Update tuple</h1>
    {% load crispy_forms_tags %}
    <form method="post" action="{% url 'app-update' pk=application.id%}">
        {% csrf_token %}
        {{ form| crispy }}
        <h5>History:</h5>
            <div style="background-color:#f5f5f5">
                {% for history_stage in history_diff %}
                    <p class="font-weight-light">
                    {% for element in history_stage %}
                        {% if forloop.first %}
                            <span class="badge badge-pill badge-primary">{{ element }}</span>
                        {% else %}
                            {{ element }}
                        {% endif %}
                    {% endfor %}
                    </p>   
                {% endfor %}
            </div>
        <input type="submit" class="btn btn-outline-success btn-sm mt-4" value="Update">
        <input type="submit" class="btn btn-outline-danger btn-sm mt-4" value="Cancel" name='True'>
    </form>
</div>
</body>